{
  "extends":"airbnb/base",
  "ext":".ts",
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi":["error","never"],
    "space-before-function-paren": ["error", { "anonymous": "ignore", "named": "always" }]
    }
  }