{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "camelcase": "off",
    "no-await-in-loop":"off"
  },
  "overrides": [
    {
      "files": [
      "**/__tests__/*.{j,t}s?(x)",
      "**/tests/unit/**/*.spec.{j,t}s?(x)"
      ],
    "env": {
      "jest": true
    }}
  ]
}
